.card {
    border: 1px solid var(--primary);
    background-color: var(--bg);
}

@media (min-width: 600px) {
    .card {
        /* ideal para um tela de computador */
        max-width: 350px;
    }
}

.cardHeader {
    padding: 18px 33px;
    background-color: #3F51B5;
}

.cardHeaderTitle {
    font-size: 16px;
}

