.card {
    max-width: 350px;/* ideal para um tela de computador */
    border: 1px solid var(--primary);
}
.cardHeader {
    padding: 18px 33px;
    background-color: #3F51B5;
}
.cardHeaderTitle {
    font-size: 16px;
}