
/* CSS Tema principal */
:root{
    --primary: #19198A;
    --bg: #171B33;
    --text: #FFFFFF;
}

/* Reset */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

body{
     min-height: 100%;
    display: flex;
    flex-direction: column;
}

body{
    font-family: sans-serif;
    background-color: var(--bg);
    color : var(--text);
}

