.homeScreen {
  padding-top: 40px;
  background-size: cover;
  background-position: center;
  padding-left: 13px;
  padding-right: 13px;
}

@media (min-width: 600px) {
  .homeScreen {
    padding-top: 55px;
    background-image: url(/images/fundoherois.png);
    padding-left: 15%;
    padding-right: 15%;
  }
}