.homeScreen {
  background-image: url(/images/fundoherois.png);
  background-repeat: no-repeat;
  background-size: cover;
  /* Faz a imagem cobrir todo o espaço */
  background-position: center;
  /* Centraliza a imagem */
  min-height: 100vh;
  /* Garante que o container tenha a altura da tela */
  padding-left: 13px;
  padding-right: 13px;
}

@-media (min-width: 600px) {
  .homeScreen {
    padding-left: 15%;
    padding-right: 15%;
  }
}