.screen {
  background-size: cover;
  background-position: center center;
  padding-top: 40px;
  padding-left: 13px;
  padding-right: 13px;
}

@media (min-width: 600px) {
  .screen {
    padding-top: 50px;
    background-image: url(/images/image.png);
    padding-left: 10%;
    padding-right: 10%;
  }
}

.container {}

@media (min-width: 600px) {
    .container {
        /* ideal para um tela de computador */
        max-width: 350px;
    }
}


